#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.main {
  display: relative;
}

.finos-calendar-event-details {
  position: absolute;
  width: 25%;
  height: 70vh;
  top: 12vh;
  right: 2rem;
  background: #fff;
  border: #333;
  overflow: auto;
  z-index: 900;
  padding: 2rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.75);
}

button.fc-button.finos-calendar-event-details-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.finos-calendar-event-details ul {
  padding-left: 1rem;
  margin-left: 1rem;
}

.finos-calendar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 899;
}

.finos-calendar-loading {
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: 901;
}

@media only screen and (max-width: 1000px) {

  .finos-calendar {
    min-width: 600px;
  }

  .fc-daygrid-day-events {
    font-size: .5em;
  }

  .fc-daygrid-day-top {
    max-height: 1.3em;
    font-size: .75em;
    margin: 0em 0em .5em 0em
  }

  .fc-popover {
    max-width: 400px;
    overflow: scroll;
  }

  .fc-event {
    max-height: 1em;
    margin: 1em 0;
  }
}
