#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.main {
  display: relative;
}

.finos-calendar-event-details {
  position: absolute;
  width: 25%;
  height: 70vh;
  top: 12vh;
  right: 0;
  background: #fff;
  border: #333;
  overflow: auto;
  z-index: 900;
  padding: 2rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.75);
}
