body {
  padding: 0;
  margin: 0;
}

#root {
  min-width: fit-content;
  width: 100%;
  min-height: 100vh;
}

.main {
  position: relative;
}

.finos-calendar {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.active-event {
  background-color: #2c3e5065;
}

.finos-calendar-event-details {
  position: absolute;
  width: 330px;
  height: 450px;
  background: #fff;
  border: #333;
  overflow-y: auto;
  z-index: 9999;
  padding: 0 2rem 2rem 2rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.75);
  word-break: break-word;
}

.event-details-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 8px 0;
  position: sticky;
  background-color: white;
  top: 0;
}

button.fc-button.finos-calendar-event-details-close {
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: grid;
  place-content: center;
  padding: 6px;
}

button.fc-button.finos-calendar-event-details-close img {
  width: 25px;
}

.event-title {
  margin-bottom: 8px;
}

.event-time {
  font-size: 14px;
  margin-bottom: 6px;
  display: flex;
  gap: 5px;
}

.event-timeZone {
  font-size: 14px;
  margin-bottom: 6px;
  display: flex;
  gap: 5px;
}

.event-location {
  display: flex;
  gap: 5px;
}

.icon {
  padding-top: 3px;
}

.finos-calendar-event-details ul {
  padding-left: 1rem;
  margin-left: 1rem;
}

.finos-calendar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 899;
}

.finos-calendar-loading {
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: 901;
}

@media only screen and (max-width: 1000px) {
  .finos-calendar {
    min-width: 600px;
  }

  .fc-daygrid-day-events {
    font-size: 0.5em;
  }

  .fc-daygrid-day-top {
    max-height: 1.3em;
    font-size: 0.75em;
    margin: 0em 0em 0.5em 0em;
  }

  .fc-popover {
    max-width: 400px;
    overflow: scroll;
  }

  .fc-event {
    max-height: 1em;
    margin: 1em 0;
  }
}

@media only screen and (max-width: 600px) {
  .finos-calendar-event-details {
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

@media only screen and (prefers-color-scheme: dark) {
  body,
  .finos-calendar,
  .finos-calendar-event-details,
  .event-details-buttons {
    background-color: #222;
    color: #eee;
  }
  .fc-event:hover {
    background-color: #3c3c3c;
  }
  .active-event {
    background-color: #eeeeee20;
  }
  .fc-theme-standard .fc-popover {
    background-color: #222;
    color: #eee;
  }
  .finos-calendar-event-details a {
    color: #343;
  }
}
