body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 20em;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    z-index: 9999; /* Adjust the z-index as needed */
}

.modal-content {
    color: black !important;
}

.modal-close {
/* Add any styles for the close button here */
}

.fc-event-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.fc-event-tooltip {
    position: absolute;
    top: 100%; /* Position the tooltip below the event */
    left: 50%;
    transform: translateX(-50%);
    max-height: 400px; /* Set a maximum height for the tooltip */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999; /* Ensure the tooltip is displayed above the calendar */
    min-width: 18em;
    max-width: 22em;
}

.fc .fc-button-primary {
    background-color: #0086BF;
    border-color: #0086BF;
}

.fc-event-title {
    background-color: #0086BF;
    border-radius: 5px;
    color: #fff;
    padding: 0.1em
}