name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "0 */3 * * *"

jobs:
  build:
    strategy:
      matrix:
        node-version: [20.10.0]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: "${{ matrix.node-version }}"

      - name: Build
        run: |
          npm install
          npm run build
        env:
          GOOGLE_SERVICE_ACCOUNT_PASSPHRASE: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_PASSPHRASE }}

      - name: Trigger Netlify Build
        run: |
          curl -X POST -d {} https://api.netlify.com/build_hooks/676564b824c64e75ebf22bcd
        
